button{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 100px;
    transition-delay: 100ms;
    transition: border-radius 1s ease-in;
    Transition: all 2s ease-in
    
}

button:hover{
    width: 500px;
    height: 500px;
    background-color: yellow;
    transition: border-radius 2s ease-in;
    transition-delay: 100ms;
    Transition: all 2s ease-in

}